body {
  padding-left: 144px;
  padding-right: 145px;
  max-width: 1125px;
  font-family: "Poppins", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 50px;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
}

.btn-nav {
  display: flex;
  gap: 14px;
}

.btn-nav-signin {
  font-weight: 600;
  color: #173a56;
  width: 102px;
  height: 46px;
  border: 2px solid #bcd0e5;
  background-color: white;
}

.btn-nav-signup {
  font-weight: 600;
  width: 102px;
  height: 46px;
}

section {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-style: normal;
  max-height: 496px;
}

.content {
  flex-direction: column;
}
h2 {
  display: flex;
  font-weight: 700;
  font-size: 44px;
  color: #2f281e;
  padding-top: 83px;
  margin: 0px;
  padding-bottom: 30px;
}

p {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
  line-height: 26px;
}
.getstarted {
  margin-top: 30px;
}
.getstarted p {
  margin-bottom: 56px;
  max-width: 458px;
  font-size: 18px;
}

.btn {
  display: flex;
  justify-content: space-between;
  max-width: 366px;
  max-height: 53px;
  background-color: transparent;
}

button {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
  background-color: #ff9900;
  width: 175px;
  height: 53px;
  border: none;
  border-radius: 4px;
}
button:hover {
  opacity: 60%;
  transform: scale(1.2);
}

.btn-icon {
  color: #ff9900;
  background-color: transparent;
  text-decoration: underline;
}
.fa-solid {
  padding-right: 9px;
  scale: 1.5;
  color: #ff9900;
}

.designtools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 111px;
  height: 543px;
  width: 100%;
}

h3 {
  font-size: 36px;
  margin-top: 0px;
  overflow: hidden;
  color: #2f281e;
}
.designtools .secondaryheader {
  width: 539px;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: max-content;
}
.card {
  max-width: 240px;
  max-height: 204px;
}
.professionals {
  padding-top: 205px;
  width: 1110px;
  height: 574px;
}
/*here I realized I can tag both p from 2 
different section in one css code*/
.professionals p,
.marketers p {
  max-width: 486px;
}

/* the text above the headers in section 3, 4 and 5*/
.smallerheader {
  margin-bottom: 0px;
}

.managers {
  margin-top: 101px;
  width: 1121px;
  max-height: 521px;
}
.managers p {
  max-width: 430px;
}
.icon-text {
  display: flex;
  gap: 30px;
  width: 430px;
  padding-bottom: 30px;
}
.icon-text img {
  width: 35px;
  height: 35px;
  max-width: 100%;
}

.marketers {
  padding-top: 104px;
  width: 1110px;
}

footer {
  display: flex;
  align-items: end;
  margin-top: 146px;
  margin-bottom: 83px;
  max-width: 1109px;
  max-height: 308px;
}
.footer-content {
  display: flex;
  gap: 100px;
}
.footer-logo {
  margin-bottom: 167px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-end;
  line-height: 35px;
  max-height: 140px;
  width: 378px;
}
.footer-signup {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 21px;
}
input {
  border-style: solid;
  border-color: #bcd0e5;
  width: 325px;
  height: 48px;
}
